html,
body {
  max-width: 100% !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}

.mobile-toggle {
  display: none;
}

.nav-active {
  font-weight: 700;
  position: relative;
}

.nav-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: white;
  border-radius: 2px;
}

[dir="rtl"] #profileMenu {
  margin-right: -20px;
}

.home-active {
  font-weight: 700 !important;
  position: relative;
}

#homeDropdownMenu li a.nav-active::after {
  display: none;
}

#dashboardDropdownMenu li a.nav-active::after {
  display: none;
}

#profileMenu li a.nav-active::after {
  display: none;
}

[data-theme="dark"] #homeDropdownMenu {
  background-color: #000000 !important;
}
[data-theme="dark"] #homeDropdownMenu a:hover {
  color: #000000 !important;
}
[data-theme="dark"] #dashboardDropdownMenu {
  background-color: #000000 !important;
}
[data-theme="dark"] #dashboardDropdownMenu a:hover {
  color: #000000 !important;
}
[data-theme="dark"] #profileMenu a {
  color: #000000 !important;
}

@media (max-width: 1441px) {
  [dir="rtl"] #profileMenu {
  margin-right: -120px;
}
}
@media (max-width: 1281px) {
  [dir="rtl"] #profileMenu {
  margin-right: -150px !important;
}
}
@media (max-width: 1024px) {
  .center ul {
    gap: 20px;
  }
}

@media (max-width: 820px) {
  #centerLinksWrapper {
    display: none !important;
  }

  #rightButtons .text-xl,
  #rightButtons .text-2xl {
    font-size: 1.25rem;
  }

}

@media (min-width: 821px) {
  #hamburgerBtn {
    display: none !important;
  }

  #mobileMenuOverlay,
  #mobileMenu {
    display: none !important;
  }
}

.mobile-menu-open {
  overflow: hidden;
}

#mobileMenu.active {
  transform: translateX(0);
}

#mobileMenuOverlay.active {
  display: block !important;
}

/* Animation for mobile dropdown */
#mobileDropdownMenu {
  transition: max-height 0.3s ease-out;
}

#mobileDropdownMenu.show {
  display: block !important;
  animation: slideDown 0.3s ease-out;
}

 [dir="rtl"] #mobileProfileMenu {
  margin-right: -120px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 821px) {
  #centerLinksWrapper {
    display: flex !important;
  }

  .lg\\:flex {
    display: flex !important;
  }
}

@media (max-width:800px) {
  .nav-active::after {
    display: none;
    font-weight: 900;
  }
}

@media (max-width:426px) {

  #theme-toggle i {
    font-size: 15px;
  }

  #hamburgerBtn i {
    font-size: 20px;
  }

  #closeMenuBtn {
    font-size: 20px;
  }

  #rightButtons {
    gap: 1rem;
  }

   [dir="rtl"] #mobileProfileMenu {
    margin-right: -110px;
  }
}

#mobileMenu,
#mobileMenu a,
#mobileMenu span,
#mobileMenu h2,
#mobileMenu button {
  color: #CBD5E1 !important;
}